.h1 {
    text-align: center;
}

.im {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.general {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: lightblue;
}

.text {
    text-align: center;
}

li {
    list-style: none;
}